.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.top-nav {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;    
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}

.top-nav-left {
    height: 100%;  
    display: flex; 
}

.top-nav-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.select-option-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../asset/img/toggle.png);
}

.logo {
    height: 32px;
    width: 100px;
    margin-left: 10px;
    background-image: url(../../asset/img/cukcuk-logo.png);
}

.top-nav-filter {
    height: 100%;
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.logo-bank{
    width: 32px;
    height: 32px;
    background-image: url(../../asset/icon/avatar-default.png);
}


.top-nav-combobox {
    height: 24px;
    margin-left: 8px;
    text-align: center;    
    display: flex;
    align-items: center;
}

.arrow-down-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    color: #000;
}


.top-nav-right {
    height: 100%;
    display: flex;
    align-items: center;
}

/* .notify-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px ;
    background-image: url(../../asset/icon/avatar-default.png);
} */

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    background-image: url(../../asset/icon/avatar-default.png);
}

.name {
    margin-right: 16px;
}

.more-options-icon{
    height: 24px;
    width: 24px;
    margin-left: 16px;
    background-image: url(../../asset/icon/option.png);

}

.content-wrapper {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
}

.side-bar {
    height: 100%;
    width: 200px;
    border-right: 1px solid #e5e5e5;
}

.side-bar-item {
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #343131;
}

.side-bar-item:hover {
    background-color: #e5e5e5;
    color: #000;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin: 0 16px;
}

.icon-dasboard{
    background-image: url(../../asset/icon/dashboard.png);
}
.icon-report{
    background-image: url(../../asset/icon/report.png);
}

.icon-employee{
    background-image: url(../../asset/icon/dic-employee.png);
}

.icon-setting{
    background-image: url(../../asset/icon/setting.png);
}

.content {
    height: 100%;
    width: calc(100% - 200px);
    padding: 16px;
    box-sizing: border-box;
}

.content-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-left {
    height: 100%;
    display: flex;   
}

.input-unit-combobox {
    margin-left: 8px;
    width: 150px;
}